# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Database
POSTGRES_PASSWORD=
DATABASE_URL=

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Consulta TSE
TSE_DATABASE_URL=
TSE_DB_USER=
TSE_DB_HOST=
TSE_DB_NAME=
TSE_DB_PASSWORD=
TSE_DB_PORT=5432

# WhatsApp Business API
WHATSAPP_BUSINESS_PHONE_ID=
WHATSAPP_BUSINESS_ACCESS_TOKEN=
WHATSAPP_WEBHOOK_TOKEN=
